.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: #333;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-nav .nav-link:hover{

}

h1{
    color: #ffde7c;
    font-size: 50px;
}
h3{
    font-size: 25px;
    color: #ffde7c;
    padding-bottom: 10px;
    padding-top: 10px;
}
h6{
    color: #aba1a1;
    font-size: 20px;
}
p{
    color: #aba1a1;
    line-height: 1.5;
}
.service-section{}
.service,.feature{
	padding: 25px;
}
.service img{}

.feature-section,.partners-section{
	padding: 100px 0;
}

.partners-section a{}
.partners-section h1{}

.container{}